#body {
    position: relative;
    width: 100%;
    height: 100%;
}

.info-container {
    height: fit-content;
    width: 100%;
}

.header {
    font-size: 1.5em;
    color: var(--primary);
    border-bottom: 0.1rem solild var(--primary);
    padding-left: var(--margin);
    padding-top: var(--margin);
}

.header.entry {
    width: calc(100% - 2 * var(--margin));
    padding-left: 0;
    padding-top: 0;
}

.summation {
    width: 100%;
}

.text {
    display: inline-block;
    margin: var(--margin);
    width: calc(25% - 2 * var(--margin));
}

.entry, .text {
    display: inline-block;
    margin: var(--margin);
    width: calc(50% - 2 * var(--margin));
}

.fat {
    position: relative;
    display: inline-block;
    font-weight: bold;
    left: var(--margin);
}

.sum {
    color: var(--secondary);
}

.splitter {
    position: relative;
    width: 100%;
    height: 0.3rem;
}

.splitter::after, .splitter::before {
    content: "";
    width: calc(100% - 2 * var(--margin));
    height: 0.1rem;
    position: absolute;
    left: var(--margin);
    background: var(--secondary);
}

.splitter::after {
    bottom: 0;
}

.splitter::before {
    top: 0;
}


@media screen and (max-width: 992px) {
    .text {
        margin-bottom: 0;
        width: calc(50% - 2 * var(--margin));
    }

    .entry {
        width: calc(100% - 2 * var(--margin));
    }
}
