<div id="body">
    <div id="enter-sale">
        <form id="inputs" #inputForm="ngForm">
            <select name="categoryId" [(ngModel)]="inputSale.categoryId">
                <option *ngFor="let category of categories"
                    [value]="category.id">
                    {{ "categories." + category.category | translate }}
                </option>
            </select>
            <input type="number" placeholder="{{ 'main.amountSold' | translate }}"
                name="amountSold" [(ngModel)]="inputSale.amountSold">
            <input type="number" placeholder="{{ 'main.amountMoney' | translate }}"
                name="amountMoney" [(ngModel)]="inputSale.amountMoney" required>
            <input type="datetime" placeholder="{{ 'main.soldAt' | translate }}"
                name="saledate" [ngModel]="inputSale.saledate | date:'yyyy-MM-dd HH:mm'"
                (ngModelChange)="inputSale.saledate = $event" required>
            <input type="text" placeholder="{{ 'main.note' | translate }}"
                name="note" [(ngModel)]="inputSale.note">
        </form>
        <div id="submit-container">
            <div id="center">
                <button id="submit" [disabled]="inputForm.invalid" (click)="saveNewSale()">Submit</button>
                <div id="error-text" *ngIf="!saveSuccessful">{{ "main.notSaved" | translate }}</div>
            </div>
        </div>
    </div>

    <div id="display-latest-sales">
        <table>
            <thead>
                <td>{{ "main.what" | translate }}</td>
                <td>{{ "main.soldAt" | translate }}</td>
                <td>{{ "main.amountSold" | translate }}</td>
                <td>{{ "main.amountMoney" | translate }}</td>
            </thead>
            <tbody>
                <tr *ngFor="let sale of latestSales">
                    <td>{{ getCategory(sale.categoryId) }}</td>
                    <td>{{ sale.saledate | date: "dd/MM/yyyy HH:mm"}}</td>
                    <td>{{ sale.amountSold }}</td>
                    <td>{{ sale.amountMoney }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>