#body {
    width: calc(100% - 2 * var(--margin));
    height: calc(100% - 2 * var(--margin));
    overflow: hidden;
    padding: var(--margin);
}

#enter-sale {
    width: calc(100%);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#center {
    height: fit-content;
    width: fit-content;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

#error-text {
    text-align: center;
    margin-top: var(--margin);
    color: var(--contrary);
}

#submit {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

#inputs {
    position: relative;
    width: fit-content;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

input, select {
    flex-grow: 1;
    margin: var(--margin);
}

#display-latest-sales {
    position: relative;
    margin-top: var(--margin);
    height: calc(100% - 10rem);
    width: 100%;
    overflow: scroll;
}

#display-latest-sales > table {
    width: 100%;
}

#display-latest-sales thead td {
    border-bottom: 0.1rem solid var(--primary);
    font-weight: bold;
    color: var(--primary);
}

#display-latest-sales tbody tr:nth-child(2n) {
    background: var(--primary-reduced-opacity);
}

.delete-row {
    width: 1%;
    white-space:nowrap;
}

#tooltip {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

#tooltip::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: var(--background-dark);
    opacity: 0.5;
}

#tooltip-box {
    position: absolute;
    height: fit-content;
    min-width: 8rem;
    width: fit-content;
    background: var(--background-light);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#text {
    margin: var(--margin);
    margin-bottom: calc(2 * var(--margin));
    text-align: center;
}

#button-container {
    position: relative;
    bottom: var(--margin);
    width: 100%;
    height: fit-content;
}

#button-container > .button {
    position: absolute;
    right: var(--margin);
    bottom: 0;
}

#button-container > .error-button {
    position: relative;
    left: var(--margin);
    bottom: 100%;
}

#statistics {
    margin-top: var(--margin);
    display: flex;
    align-content: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {

    #body {
        padding: 0;
        width: 100%;
    }

    #enter-sale {
        flex-wrap: wrap;
    }

    #submit-container {
        width: calc(100% - var(--margin) * 2);
    }

    #display-latest-sales {
        height: 10rem;
    }

    #center {
        width: 100%;
    }

    .hide-on-small-screen {
        display: none;
    }
}
