<div id="body">
    <div id="enter-sale">
        <form id="inputs" #inputForm="ngForm">
            <select name="categoryId" [(ngModel)]="inputSale.categoryId">
                <option *ngFor="let category of categories"
                    [value]="category.id">
                    {{ "categories." + category.category | translate }}
                </option>
            </select>
            <input type="number" placeholder="{{ 'main.amountSold' | translate }}"
                name="amountSold" [(ngModel)]="inputSale.amountSold">
            <input type="number" placeholder="{{ 'main.revenue' | translate }}"
                name="revenue" [(ngModel)]="inputSale.revenue" required>
            <input type="date" placeholder="{{ 'main.soldAt' | translate }}"
                name="saledate" [ngModel]="inputSale.saledate | date:'yyyy-MM-dd'"
                (ngModelChange)="inputSale.saledate = $event" required>
            <input type="text" placeholder="{{ 'main.note' | translate }}"
                name="note" [(ngModel)]="inputSale.note">
        </form>
        <div id="submit-container">
            <div id="center">
                <button class="button" id="submit" [disabled]="inputForm.invalid" (click)="saveNewSale()">Submit</button>
                <div id="error-text" *ngIf="!saveSuccessful">{{ "main.notSaved" | translate }}</div>
            </div>
        </div>
    </div>

    <div id="display-latest-sales">
        <table>
            <thead>
                <td>{{ "main.what" | translate }}</td>
                <td>{{ "main.amountSold" | translate }}</td>
                <td>{{ "main.revenue" | translate }}</td>
                <td>{{ "main.soldAt" | translate }}</td>
                <td class="hide-on-small-screen">{{ "main.note" | translate }}</td>
                <td class="delete-row"></td>
            </thead>
            <tbody>
                <tr *ngFor="let sale of latestSales">
                    <td>{{ getCategory(sale.categoryId) }}</td>
                    <td>{{ sale.amountSold }}</td>
                    <td>{{ sale.revenue }}</td>
                    <td>{{ sale.saledate | date: "dd/MM/yyyy"}}</td>
                    <td class="hide-on-small-screen">{{ sale.note ? sale.note : "-" }}</td>
                    <td class="delete-row">
                        <button class="error-button" (click)="toggleTooltip(sale)">x</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="tooltip" *ngIf="isTooltipVisible">
            <div id="tooltip-box">
                <div id="text">{{ "main.tooltip" | translate }}</div>
                <div id="button-container">
                    <button class="error-button" (click)="toggleTooltip(null)">{{ "general.no" | translate }}</button>
                    <button class="button" (click)="deleteSale()">{{ "general.yes" | translate }}</button>
                </div>
            </div>
        </div>
    </div>

    <div id="statistics">
        <button class="button" routerLink="/monthly-statistics">{{ "main.monthly" | translate }}</button>
    </div>
</div>